* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
  scroll-behavior: smooth;
}

body {
    background: #f5f5f5;
}

.front-nav-name {
    font-family: Arial, sans-serif;
}

/* Header */
header {
    background: #08343B;
    padding: 15px 40px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    margin: 0 12px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

header nav a:hover {
    color: #00bcd4;
}

/* Hero Section */
.hero {
    background: #0f3d3e;
    height: 22rem;
    color: white;
    padding: 60px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    max-width: 50%;
    height: 13rem;
    /* border: 1px solid red */
}

.name-div {
    /* border:1px solid black; */
    height: 8rem;

}

.front {
    font-size: 55 px;
}

.name {
    margin-left: 3rem;
}

.hero-text h1 {
    font-size: 45px;
    margin-bottom: 10px;
}

.headline {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin-bottom: 1rem;
}



.btn {
    background: #007bff;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.btn:hover {
    background-color: #0f69c8;
   
}

.hero-img {
    width: 15rem;
    height: 16rem;
    border-top-right-radius: 4rem;
    border-top-left-radius: 4rem;


}

.pic {

    box-shadow: 2px 0px 8px rgb(34, 33, 33);
    transition: all 0.3s ease;
}

.pic:hover {
    box-shadow: 4px 4px 20px rgb(34, 33, 33);
    transform: scale(1.03);
}

.txt {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* About Section */
.about {
    padding: 50px 10%;
    text-align: center;
    background: white;
}

.about-content {

    display: flex;
    height: 20rem;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    gap: 5rem;
}

.about-p {

    width: 37rem;
    height: 17rem;
    font-size: 22px;
    padding: 1rem;

}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}


.web-img {
    width: 22rem;
    box-shadow: 2px 0px 8px rgb(67, 67, 67);
    transition: all 0.3s ease;

}

.web-img:hover {
    box-shadow: 4px 4px 20px rgb(0, 0, 0);
    transform: scale(1.03);
}

/* Skills */
.skills {
    padding: 40px 10%;
    background: #e8f8f5;
    text-align: center;
}


.list {
    margin-top: 20px;
    list-style: none;

    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.skills li {
    display: inline-block;
    padding: 10px 20px;
    background: #0f3d3e;
    color: white;
    border-radius: 5px;
    margin: 10px;
}

.list li:hover {
    transform: scale(1.03);
}



/* Projects */
.projects {
    padding: 40px 10%;
    text-align: center;
}

.project-contanier {

    display: flex;
    justify-content: space-evenly;
}

.project-box {
    width: 19rem;
    height: 16rem;
    background: white;
    padding: 20px;
    margin: 15px 0;
    border-radius: 8px;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-box:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}


.project-box p {
    margin-top: 0.5rem;
}

.project-img {
    width: 8rem;
}

.project-tile {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}


/* Resume */
.resume {
    padding: 40px 10%;
    text-align: center;
    margin-bottom: 3rem;
}


/* Contact */
.contact {
    padding: 40px 10%;
    text-align: center;
    background: #e3f2fd;
}
.contact-div{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 0.5rem;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background: #08343B;
    color: white;
}